@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,700;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #b4b2c5;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #09045b;
  color: #fff;
  position: fixed;
  margin-bottom: 100px;
  padding: 16px;
  width: 100%;
  height: 70px;
  z-index: 2;
}

header h2 {
  margin-top: -1px;
}

form {
  display: flex;
  /* justify-content: space-between; */
}

.search {
  background-color: transparent;
  border: medium solid #fff;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #ffffff;
}

.search:focus {
  outline: none;
}

.search:hover {
  background-color: #fff;
  color: #09055b;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.content {
  display: inline-flex;
  /* flex-direction: column; */
  /* background-color: #09055b; */
  height: 400px;
  width: 1200px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  color: #fff;
  /* z-index: -2; */
  margin: 20px 0;
}

.image-content {
  background-color: #09055b;
  position: absolute;
  height: inherit;
}

.image-content::before {
  content: "";
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.image-content h2 {
  font-size: 50px;
}

.image-alone {
  position: absolute;
  max-width: 320px;
  height: 1600px;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-151%);
  transition: transform 0.7s ease-in;
  height: inherit;
}

.image-alone img {
  width: 100%;
  height: 100%;
}

.image-content img {
  width: 100%;
  height: 250px;
}

.content h2 {
  margin: 16px;
}

.detailed-info {
  margin: -15px 0 0 1px;
  padding: 30px;
  background-color: #fff;
  color: #fff;
  background-color: #09045b;
  opacity: 0.98;
  position: absolute;
  min-height: 400px;
  top: 0;
  left: 300px;
  bottom: 0;
  transform: translateX(105%);
  transition: transform 0.7s ease-in;
}

.source-header {
  margin: -20px 0 6px 0;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.overview h3 {
  margin-top: -20px;
  color: #fff;
  font-style: italic;
  font-size: 40px;
}

.overview h3 a:link,
.overview h3 a:visited {
  color: #fff;
  text-decoration: none;
}

.overview h3 a:hover,
.overview h3 a:active {
  color: #fff;
  text-decoration: underline;
}

.overview p {
  font-size: 15px;
}

.source-bottom {
  padding-top: 2px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.content:hover .detailed-info {
  transform: translateX(0);
}

.content:hover .image-alone {
  transform: translateX(0);
}

@media (max-width: 480px) {
  .container {
    height: 400px;
    width: 800px;
  }
}
